:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--background-black-color: #2F303A;
--main-bg-color: #FFFFFF;
--primary-bg-color: #F5F4FA;
}
 
/* body */

body {
    color: var(--title-text-color);
    background-color: var(--main-bg-color);
    font-family: 'Roboto',
    sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}

/* Цвет основного текста #212121; */
/* цвет вторичный #757575 */
/* цвет линка #2196F3 + #000000  */
/* белый цвет #FFFFFF */
/* акцент #2196F3; */
/* цвет нижних контактов rgba(255, 255, 255, 0.6); */

ul {
    list-style: none;
}

/* logo */

.logo {
color: var(--accent-color);
font-weight: bold;
font-family: 'Raleway',
sans-serif;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}

.logo-header {
    color: #000000;
}

.logo-footer {
    color: var(--main-bg-color);
}

/* site nav */

.site-nav .link {
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}
/* contacts */

.contacts .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* hero */

.hero {
    background: var(--background-black-color);
}

.hero-title {
    color: var(--main-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

/* button */

.button {
color: var(--main-bg-color);
background-color: var(--accent-color);
font-weight: bold;
font-size: 16px;
line-height: 1,88;
letter-spacing: 0.06em;
cursor: pointer;
}


 /* section */

 .section-team {
     background-color: var(--primary-bg-color);
 }

.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* features */

.feature-list .title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.feature-list .title-list {
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}

/* team */

.team .team-title {   
    background-color: var(--main-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team .team-list {
    color: var(--primary-text-color);
    background-color: var(--main-bg-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
}

/* footer */

.page-footer {
    background-color: var(--background-black-color);
}

.address .title {
    color: var(--main-bg-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address .item {
color: rgba(255, 255, 255, 0.6);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
}

.address .item:hover,
.address .item:focus {
    color: var(--accent-color);
}

/* portfolio */

/* butttons filtr */

.botton-filter {
color: var(--title-text-color);
background-color: var(--primary-bg-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
} 
.botton-filter:hover, .botton-filter:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
}

.portfolio-list .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list .list {
color: var(--primary-text-color);
font-weight: normal;
font-size: 16px;
line-height: 1.88;
}

